<%= render "layouts/navbar" %>
</br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="blog-post">
                <h2 class="blog-post-title"><%= @question.title %></h2>
                <div class="cuerpo-index">
                    <%= markdown(@question.description) %>
                </div>
            </div> <!-- /.blog-post -->
            <div class="row justify-content-end">
                <div class="col-11">
                    <% if @question.comments.exists? %>
                        <% @question.comments.each do |comment| %>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-secondary">
                                    <%= comment.user.email %> comentó hace <%= distance_of_time_in_words( Time.now, comment.created_at) %> 
                                </li>
                                <li class="list-group-item">
                                    <%= comment.description %> </br>
                                </li>
                            </ul>
                            </br>
                        <% end %> 
                    <% end %>
                </div>
            </div>

            <% if user_signed_in? %>
                <%= form_for ([@question, Comment.new]) do |f| %>
                    <div class="form-group">
                        <%= f.text_area :description, class: "form-control", placeholder: "Agrega un comentario" %>
                    </div>
                    <%= f.button "Comentar", class: "btn btn-primary" %>
                <% end %>
            <% end %>
            </br>
            <h4><%= @answers.count %> Respuesta(s)</h4><hr>
            &nbsp;
            <% if @question.answers.exists? %>
                <% @answers.each do |answer| %>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary">
                            <%= answer.user.email %> respondió hace <%= distance_of_time_in_words( Time.now, answer.created_at) %> 
                        </li>
                        <li class="list-group-item">
                            <%= markdown(answer.description) %> </br>
                        </li>
                        </br>
                        <div class="row justify-content-end">
                            <div class="col-11">
                                <% if answer.comments.exists? %>
                                    <% answer.comments.each do |comment| %>
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-secondary">
                                                <%= comment.user.email %> comentó hace <%= distance_of_time_in_words( Time.now, comment.created_at) %> 
                                            </li>
                                            <li class="list-group-item">
                                                <%= comment.description %> </br>
                                            </li>
                                        </ul>
                                        </br>
                                    <% end %>
                                <% end %>
                                <% if user_signed_in? %>
                                    </br>
                                    <%= form_for ([answer, Comment.new]) do |f| %>
                                        <div class="form-group">
                                            <%= f.text_area :description, class: "form-control", placeholder: "Agrega un comentario" %>
                                        </div>
                                        <%= f.button "Comentar", class: "btn btn-primary" %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </ul>
                    </br>
                <% end %>
            <% end %>
            <% if user_signed_in? %>
                <h4>Tu Respuesta</h4>
                <%= form_for ([@question, @question.answers.build]) do |f| %>
                    <div class="form-group">
                            <%= f.text_area :description, class: "form-control" %>
                        </br>
                        <p>
                            <%= f.button "Enviar respuesta", class: "btn btn-primary" %>
                        </p>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>